div{
    height:100px;
    display:flex;
    justify-content: space-evenly;
    background-color: lightcyan;
    align-items:center;
}
a{
    text-decoration: none;
    color:red;
    cursor:pointer;

}